@charset "utf-8";

/* 가운데 영역 */
.container { max-width: 1400px; width: 100%; margin: 0 auto; } 

/* header */
#header { 
    width: 100%; height: 90px; position: relative; font-size: 1.3rem; background-color: #fff; 
} 
.header .logo { width: 10%; height: 100%; } /* w140px h90px */
.header .logo a { width: 100%; height: 100%; display: block; }
.header .logo a img { display: block; width: 80%; margin: 0 auto; padding-top: 17px; }
.header ul.nav { width: 50%; display: flex; margin: 0 10%; }
.header ul.nav li { width: 20%; text-align: center; line-height: 90px; }
.header ul.nav li a {
    width: 100%; height: 100%; display: block; color: #000; font-weight: 700; position: relative; 
}
.header ul.nav li a .line { 
    height: 2px; position: absolute; bottom: 0; left: 0; 
    background-color: #1634db; transition: all .6s ease-in-out; 
}


/* 풀다운메뉴 */
.header .full_menu { 
    position: absolute; top: 100%; left: 0; width: 100%; height: 450px; border-top: 1px solid #c1c1c1; 
    background-color: #fff; box-sizing: border-box; display: none; z-index: 999; 
}
.header .full_menu .full_cover > ul { display: flex; width: 60%; height: 100%; margin-left: 20%; }
.header .full_menu .full_cover > ul > li { width: 20%; height: 450px; border-left: 1px solid #c1c1c1; box-sizing: border-box; }
.header .full_menu .full_cover > ul > li:last-child { border-right: 1px solid #c1c1c1; }
.header .full_menu .full_cover > ul ul { width: 100%; }
.header .full_menu .full_cover > ul ul li { width: 100%; line-height: 50px; text-align: center; }
.header .full_menu .full_cover > ul ul li a { position: relative; color: #000; }
.header .full_menu .full_cover > ul ul li a:after { content: ""; position: absolute; bottom: -5px; left: 0; width: 0; height: 2px; background-color: #1634db; transition: all .5s ease-in-out; }
.header .full_menu .full_cover > ul ul li a:hover:after { width: 100%; }

.header ul.gnb { width: 20%; display: flex; }
.header ul.gnb li { width: 100%; font-size: 1.4rem; line-height: 90px; text-align: center; }
.header ul.gnb li.lang a { background: url("../img/ico_lang.png") no-repeat left 50%/ 30%; }
.header ul.gnb li a { width: 100%; height: 100%; display: block; color: #000; }
.header ul.gnb li a img { width: 40px; vertical-align: middle; }

/* banner */
#banner { width: 100%; height: 800px; position: relative; overflow: hidden; } 
.banner ul.slide_banner { position: relative; width: 100%; height: 800px; }
.banner ul.slide_banner li { position: absolute; width: 100%; height: 100%; overflow: hidden; }
.banner ul.slide_banner li a { width: 100%; height: 100%; display: block; position: relative; }
.banner ul.slide_banner img { height: 100%; position: absolute; }
.banner ul.slide_banner li a h2 { width: 480px; position: absolute; color: #fff; font-size: 6rem; line-height: 1; top: 15%; left: 10%; word-break: keep-all; }
.banner ul.slide_banner li a p { width: 400px; position: absolute; bottom: 0; right: 10%; color: #fff; font-size: 2.4rem; }

